/*Manifestacion*/


#tab_Datos .content select
{
  width: 300px;
}

#sf_admin_container .content .tel input
{
  width: auto;
}

#sf_admin_container .content .archivo_digital .principal input
{
  width: auto;
}

#sf_admin_container .content .archivo_digital .principal select
{
  width: auto;
}
#sf_fieldset_caracteristicas textarea
{
  width: 800px;
}
#sf_admin_container .content input, #sf_admin_container .content textarea
{
  width: 300px;
}
#sf_admin_container .content th, td {
    border: 1px solid silver;    
}


#tab_Areas select, #tab_Temporalidad select, #tab_Estado select
{
  width: 300px;
}

#sf_admin_container .content textarea
{
  width: 400px;
}

#sf_admin_container .content textarea
{
  width: 400px;
}

/*portadores*/

#tab_Portadores  label
 { 
  width: 200px;	
 }

#tab_Portadores .content input
 { 
  width: 600px; 
 }

#sf_fieldset_portadores .content .portadores_entidad label, #tab_Legislacion .content label, #tab_Anexos .content .anexos label
 { 
  width: 70px;	
 }

#tab_Portadores .content .portadores_entidad input, 
#tab_Legislacion .content .legislacion input

 { 
  width: 500px;	  
 }  

#tab_Ambitos .content .ambitos  select
 { 
  width: 500px;   
 }  
#tab_Portadores .content .portadores_entidad .delete input,
#tab_Legislacion .content .legislacion .delete input,
#tab_Anexos .content .anexos .delete input,
#tab_Ambitos .content .ambitos .delete input
 { 
  width: 15px;	  
 } 
#tab_Portadores .content .nuevos_portadores input
{
	width: 600px;	  
}
/*aspectos_metodologicos*/

#tab_Metodologia .aspectos_metodologicos label, #tab_Metodologia .nuevos_metodos label
{
	width: 15em;	
}
#tab_Metodologia .aspectos_metodologicos input, #tab_Metodologia .aspectos_metodologicos textarea, 
#tab_Metodologia .nuevos_metodos input, #tab_Metodologia .nuevos_metodos textarea 
{
	width: 500px;	
}


/* datos obligatorios*/

#sf_admin_container label[for=manifestacion_denominacion], #sf_admin_container label[for=manifestacion_detalle_temporalidad],
#sf_admin_container label[for=manifestacion_caracteristicas_resumen]
{  
  font-weight: bold !important;
}


